version: '3.7'

services:
  minio:
    image: minio/minio
    volumes:
      - /mnt/data:/data
    ports:
      - "9000:9000"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server /data

  sqlite-web:
    image: coleifer/sqlite-web
    restart: always
    ports:
      - 8080:8080
    volumes:
      - ./OkMusic/sqlite:/data
    environment: 
      SQLITE_DATABASE: okmusic.db
